---
import Layout from '../layouts/Layout.astro';
import { posts } from '../data';
import { articleHtml } from '../article-html';

export function getStaticPaths() {
  return posts.map((post) => ({ params: { slug: post.slug }, props: { post } }));
}

const { post } = Astro.props;
const html = articleHtml[post.slug];
---

<Layout title={`${post.title} · AI Daily Insights`} description={post.summary}>
  <a class="crumb" href="/"><span class="pr">cd</span>..</a>
  <article class="md" set:html={html} />
</Layout>
